.container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f39c12;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  margin: 0;
  margin-right: 15px;
}

.count {
  width: 35px;
  height: 35px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.4777777777;
  background-color: #16a085;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
