.habit {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.habitTitle {
  font-size: 21px;
  font-weight: 600;
  margin-right: 12px;
}

.habitCount {
  font-size: 18px;
  font-weight: 600;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 1.666666666666667;
  background-color: #16a085;
  color: #fff;
  text-align: center;
  margin-right: 12px;
}

.habit button {
  width: 25px;
  font-size: 25px;
  background-color: transparent;
  cursor: pointer;
}

.plus {
  color: #0066ff;
  margin-right: 12px;
  height: 25px;
}

.minus {
  color: #e74c3c;
  margin-right: 12px;
  height: 25px;
}

.erase {
  height: 25px;
}
